<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plan List</title>
</head>
<body>
<div style="margin-bottom:12px;">
    <input type="text" name="title" id="title">
    <input type="text" name="start" id="start">
    <input type="text" name="end" id="end">
    <button id="create-btn" type="submit">Create</button>
</div>
<!--yyyy-MM-ddTHH:mm-->
<div class="container">
    <div th:each="item : ${plans}" style="border: 1px solid black; margin-bottom:6px;">
        <div>
            <div th:text="${item.title} "></div>
            <div th:text="'starts at : ' + ${#temporals.format(item.start, 'yyyy-MM-dd HH:mm')} "></div>
            <div th:text="'ends at :' + ${#temporals.format(item.end, 'yyyy-MM-dd HH:mm')} "></div>
            <div th:text="'duration :' + ${item.duration} + 'minutes '"></div>
            <button id="delete-btn" th:value="${item.id}" onclick="delete_plan(this)">Delete</button>
            <input type="text" name="title" th:id="'title'+${item.id}">
            <input type="text" name="start" th:id="'start'+${item.id}">
            <input type="text" name="end" th:id="'end'+${item.id}">
            <button id="modify-btn" th:value="${item.id}" onclick="update(this)" style="margin-bottom: 4px">Update</button>
        </div>
    </div>
    <br><br>
</div>

<script src="/js/plan.js"></script>
</body>
</html>